// Place all the styles related to the vendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#conteudo {
	width: 960px;
	float: left;
	background: white;
	padding: 10px;
	min-height: 100%;
}
.sidebar {
	float: left;
	padding: 10px;
	background: #ECF0F1;
	min-height: 100%;
}

body {
	background: white;
}